.checkbox_container{
	margin-bottom: 15px;
}
	.checkbox_container label.label_field{
		padding-left: 10px;	
		padding-top: 2px;
		float: left;
		cursor: pointer;
	}
	.checkbox_container:hover label.label_field{
		color: #33A1FF;
	}
	.checkbox_container:active label.label_field{
		color: #0C0C0D;
	}
	input.checkbox_field{
		cursor: pointer;
		width: auto;
        height: auto;
        border: none;
        border-radius: 0;
        background-color: transparent;
	}

.textafield_container{

}
	label.label_field{
		display: block;		
	}
	.textafield_container input.text_field{
		
	}

.textafield_container_big{

}
	.textafield_container_big input.text_field{
		height: 48px;
		font-size: 15px;
	}
	input.text_field{
		
	}


	.select_box{
		width: 100%;
	}

.search_box_field{
	min-width: 598px;
}
	.search_box_field .text_field{
		padding-right: 45px;
		background-color: #F7F8FB;
		border: 1px solid #D5D7DD;
	}
		.search_box_field .text_field:hover{
			border: 1px solid #33A1FF;
		}
		.search_box_field .text_field:focus{
			border: 1px solid #000;
		}
	.search_btn{
		background: url(../images/icon/search_icon.png) 50% 50% no-repeat;
		display: inline-block;
		top: 0;
		right: 0;
		width: 44px;
		height: 100%;
	}


.upload_text,
.done_uploaded{
	padding-left: 23px;
	font-size: 13px;
	line-height: 20px;
	background: url(../images/icon/upload_file_icon.png) 0 50% no-repeat;
	cursor: pointer;
	position: relative;
}
.upload_text:hover{
	color: #33A1FF;
	background: url(../images/icon/upload_file_icon_hover.png) 0 50% no-repeat;
}
.done_uploaded{
	position: relative;
	padding-right: 20px;
}
.done_uploaded:after{
	content: "";
	background: url(../images/icon/close_min.png) 50% 5px no-repeat;
	width: 7px;
	height: 7px;
	position: absolute;
	right: 0;
	top: 1px;
	padding: 5px;
}
	.done_uploaded:hover:after{
		background-position: 50% -15px;
	}
	.done_uploaded:active:after{
		background-position: 50% -35px;
	}
	
.upload_file{
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
input[type="button" i], 
input[type="submit" i], 
input[type="reset" i], 
input[type="file" i]::-webkit-file-upload-button{
	cursor: pointer !important;
}

/*-------------------------------- STYLES --------------------------------*/

/*---------------- Start: listiners_organizations ----------------*/
	.mb0{margin-bottom: 0;}
	.table_color{color: #0d0d0e;}

	.filter_table{
		font-size: 16px;
	    padding: 0px 30px 0px 0 !important;
	    margin: 9.5px 0 11.5px 0;
	    background: url(../images/icon/arrow.png) 98% 160% no-repeat;
	}
	.second_menu.second_menu2{
		margin-bottom: 30px;
	}

	.filter_box{
		padding: 20px 20px 18px 20px;
		margin-bottom: 28px;
		background: #dde1ed;
	}
	.filter_box .selectbox_container{
		width: 180px;
	}
		.selectbox_container1,
		.selectbox_container2,
		.selectbox_container5{
			width: 180px;
			margin-right: 20px;
		}
		.selectbox_container6{
			width: 150px;
			margin-right: 20px;
		}
		.selectbox_container3{
			width: 101px;
			margin-right: 20px;
		}
		.selectbox_container4{
			width: 228px;
			margin-right: 20px;
		}

		.selectbox_container3 .jq-selectbox__select{
			padding: 0 26px 0 15px;
		}

	.alphabet{
		margin-bottom: 12px;
	}
	.alphabet li{
		margin-left: 15.5px;
		text-transform: uppercase;
	}
		.alphabet li a{
			padding: 0 5px;
			font-size: 16px;
		}
			.alphabet li a:hover{
				color: #33a1ff;
			}
			.alphabet li a:active{
				color: #151516;
			}
	.alphabet li:first-child{
		margin-left: 0;
		padding: 0;
		text-transform: none;
		font-size: 16px;
	}
		.alphabet_input_box{
			position: absolute;
			right: -16px;
        	top: -12px;
        	z-index: -1;
		}
		.last_alpha .alphabet_search,
		.last_alpha:hover .alphabet_search:active{
			background: url(../images/icon/search_icon_min.png) 6px 50% no-repeat;
			padding: 0;
			width: 40px;
			height: 42px;
			position: absolute;
			top: 0;
			right: 0;
			z-index: 10;
		}
		.last_alpha:hover .alphabet_search:hover{
			background: url(../images/icon/search_icon_min_hover.png) 6px 50% no-repeat;
		}
		.last_alpha:hover .alphabet_input_box,
		.alphabet_input_box.focused_parent{
			z-index: 9;
		}
		.alphabet_input_box:hover .alphabet_input{
			opacity: 1;
			visibility: visible;
			z-index: 9;
		}
		.alphabet_input{
			width: 262px;
			visibility: hidden;
			opacity: 0;
			z-index: 9;
			padding: 5px 40px 5px 15px;
		}
		.alphabet_input.focused_child{
			opacity: 1;
			visibility: visible;
		}
		.last_alpha{
			width: 19px;
			height: 19px;
		}
		
	.organizations_table{
		width: 100%;
	}
		.table_line:first-child{
			border-bottom: 1px solid #c8cacf;
			height: 57px;
		}
		.table_line{
			border-bottom: 1px solid #dbdde3;
			height: 54px;
		}
			.table_line td{
				padding: 17px 0 7px;
			}
			
			.table_line th a,
			.memb_table_line th a{
				width: 100%;
			}
			.table_line th a:hover,
			.memb_table_line th a:hover{
				/*color: #33a1ff;*/
			}
				.table_line th a:active,
				.memb_table_line th a:active{
					color: #151516;
				}

			.filter_link{
				position: relative;
				display: inline;
			}
			.filter_link:after{
				content: " ";
				position: absolute;
				background: url(../images/icon/filter_sprite.png) 37% 92% no-repeat;
				top: -4px;
				height: 20px;
	    		width: 30px;
			}

			.filter_link:hover:after{
				background-position: 37% -17%;
			}
				.table_line th a:active .filter_link:after,
				.memb_table_line th a:active .filter_link:after{
					background-position: 37% 92%;
				}

				.prompt{
					position: absolute;
				    background: #113a71 url(../images/icon/prompt_arrow.png) 50% 121% no-repeat;
				    color: #fff;
				    font-size: 13px;
				    font-weight: 400;
				    padding: 4px 7px;
					visibility: hidden;
					display: inline-block;
					width: 70px;
				}
			.table_line th,
			.table_line td{
				text-align: left;
				vertical-align: middle;
				color: #0d0d0e;
			}
			
			.table_line th:nth-child(1),
			.table_line td:nth-child(1){
				width: 18.4%;
			}
			.table_line th:nth-child(2),
			.table_line td:nth-child(2){
				width: 14.91%;
			}
			.table_line th:nth-child(3),
			.table_line td:nth-child(3){
				width: 13.07%;
			}
			.table_line th:nth-child(4),
			.table_line td:nth-child(4){
				width: 51.32%;
			}
			.table_line th:nth-child(5),
			.table_line td:nth-child(5){
				width: 1.36%;
			}
			.table_line td:nth-child(2),
			.table_line td:nth-child(3),
			.table_line td:nth-child(4){
				font-weight: 700;
				font-size: 16.5px;
				vertical-align: middle;
				padding: 0;
			}
			.table_line td:nth-child(5){
				padding: 17px 0;
			}
			.label_field.roboto_reg.table_color{
				line-height: 16px;
			}

	.content_footer_box{
		margin: 36px 0;
	}
			.show_number_title{
				padding-right: 15px;
			}
				.show_number_point a{
					padding: 0 10px;
					font-size: 13px;
				}
				.show_number_point2 a{
					font-size: 13px;
					padding: 0 6px;
				}
					.show_number_point a:hover,
					.show_number_point2 a:hover{
						color: #4eaaf5;
						font-weight: 500;
					}

	.members_table{
		width: 100%;
		table-layout: fixed;
	}
		.memb_table_line:first-child{
			border-bottom: 1px solid #c8cacf;
			height: 57px;
		}
		.memb_table_line{
			width: 100%;
			border-bottom: 1px solid #dbdde3;
			height: 54px;
		}
		.memb_table_line:hover,
		.table_line:first-child ~ .table_line:hover{
			background-color: #dce9f8;
			cursor: pointer;
		}
			.memb_table_line td:empty{
				display: none;
			}
			.memb_table_line th{
				padding: 17px 0;
			}
			.memb_table_line th,
			.memb_table_line td{
				text-align: left;
				vertical-align: middle;
				color: #0d0d0e;
			}

			.time_span{
				font-size: 11px;
				color: #7e7f82;
			}

			.memb_table_line th:nth-child(1),
			.memb_table_line td:nth-child(1){
				width: 18%;
			}
			.memb_table_line th:nth-child(2),
			.memb_table_line td:nth-child(2){
				width: 13.5%;
			}
			.memb_table_line th:nth-child(3),
			.memb_table_line td:nth-child(3){
				width: 11.3%;
			}
			.memb_table_line th:nth-child(4),
			.memb_table_line td:nth-child(4){
				width: 15.5%;
			}
			.memb_table_line th:nth-child(5),
			.memb_table_line td:nth-child(5){
				width: 14.5%;
			}
			.memb_table_line th:nth-child(6),
			.memb_table_line td:nth-child(6){
				width: 13%;
			}
			.memb_table_line th:nth-child(7),
			.memb_table_line td:nth-child(7){
				width: 9.8%;
			}
			.memb_table_line th:nth-child(8),
			.memb_table_line td:nth-child(8){
				width: 2.28%;
				padding-left: 12px;
			}
			.memb_table_line td:nth-child(7){
				text-align: right;
				font-weight: 600;
				font-size: 16.5px;
				padding-right: 37px;
			}
			.memb_table_line td:nth-child(1),
			.memb_table_line td:nth-child(4){
				padding: 18px 0 7px 0;
			}
			.table_line_last_point{
				padding-right: 10px;
				vertical-align: middle;
				
			}


/*---------------- End: listiners_organizations ----------------*/

/*---------------- Start: notification_message2 ----------------*/
.checkbox_container2{
	margin-bottom: 27px;
}
.notification_messages_list.notif_mess2 .time_box {
	margin-left: 15px;
    color: #7b7c7f;
    font-size: 11px;
    background: url(../images/icon/clock_icon2.png) 5% 47% no-repeat;
}
.notification_messages_list.notif_mess2 {
    padding: 10px 20px 20px 0;
}
	[data-titleimg="viewed"] {
	    padding-left: 30px;
	    background: url(../images/icon/open_eye_icon.png) 0 50% no-repeat;
	}
	[data-titleimg="unreviewed"] {
	    padding-left: 30px;
	    background: url(../images/icon/close_eye_icon.png) 0 50% no-repeat;
	}

/*---------------- End: notification_message2 ----------------*/


/*---------------- Start: doctor_page ----------------*/
[data-bg-content="bg_doctor_page"] {
    background: url(../images/doctor_bg.jpg) 50% 50% no-repeat fixed;
    -webkit-background-size: cover;
    background-size: cover;
    height: 995px;
    width: 100%;
    min-height: initial !important;
    text-align: center;	
}
.doctor_page_container{
	background: url(../images/icon/doctor_bg_logo.png) 50% 50% no-repeat;
	/*width: 1072px;*/
	/*height: 1133px;*/
	width: 800px;
	height: 800px;
	background-size: 750px 750px;
	border-radius:50%;
	overflow: hidden;
	margin: 70px auto 0;
}
/*---------------- End: doctor_page ----------------*/

/*---------------- Start: profile2 ----------------*/

.profile_mes_block:before{
	content: "";
	position: absolute;
	left: 33px;
    top: 4px;
	width: 6px;
	height: 6px;
	background-color: #de1d63;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
}
.profile_mes_block{
	min-width: 170px;
	position: relative;
	padding-left: 46px;
}

.profile_mes_block_link{
	border-bottom: 1px dotted #292a2b;
}
.profile_mes_block_link:hover{
	border: none;
}

/*---------------- End: profile2 ----------------*/
