/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  FORMSTYLER CSS START    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/


		.jq-checkbox{
			-webkit-box-shadow: none;
			        box-shadow: none;
		    -webkit-border-radius: 0;
		            border-radius: 0;
		    margin: 0;
		    width: 18px;
		    height: 18px;
		    background:  url(../images/icon/checkbox_icon.png) 0 0 no-repeat;
		    border: none;
		    top: 0;
		    float: left;
		}
			.jq-checkbox.checked .jq-checkbox__div{
				-webkit-box-shadow: none;
				        box-shadow: none;
			    -webkit-border-radius: 0;
			            border-radius: 0;
			    margin: 0;
			    width: 18px;
			    height: 18px;
		    	background-position: 0 100%;
		    	background-color:transparent;
			}
			.jq-checkbox.focused{
				border: none;
			}
			.checkbox_container:hover .jq-checkbox{
				background-position: 0 -30px;
			}
			.checkbox_container:active .jq-checkbox,
			.checkbox_container .jq-checkbox.checked{
				background-position: 0 -58px;
			}
			.type_activity_filter[data-activity="second"] .checkbox_container:hover .jq-checkbox{
				background-position: 0 -86px;
			}
			.type_activity_filter[data-activity="second"] .checkbox_container:active .jq-checkbox,
			.type_activity_filter[data-activity="second"] .checkbox_container .jq-checkbox.checked{
				background-position: 0 -114px;
			}

		.jq-selectbox__select{
			background: #fefefe; /* Old browsers */
			background: -moz-linear-gradient(top,  #fefefe 0%, #ededed 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  #fefefe 0%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  #fefefe 0%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
			-webkit-box-shadow: none;
			        box-shadow: none;
			text-shadow: none;
			color: #202021;
			font-size: 13px;
			line-height: 42px;
			height: 42px;
			font-family: 'Roboto', sans-serif;
			-webkit-border-radius: 1px;
			        border-radius: 1px;
			border: 1px solid #c2c3c9;
			padding: 0px 42px 0px 15px;
		}
		.jq-selectbox__select:hover,
		.jq-selectbox.changed .jq-selectbox__select:hover{
			border: 1px solid #46A9FE;
			background: #fefefe; /* Old browsers */
			background: -moz-linear-gradient(top,  #fefefe 0%, #ededed 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  #fefefe 0%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  #fefefe 0%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
		}
		.jq-selectbox.focused .jq-selectbox__select{
			border: 1px solid #cdced3;
		}
		.jq-selectbox.dropdown.opened .jq-selectbox__select{
			border: 1px solid #2E2E2F;
			border-bottom: 1px solid #B0B2B7;
		}
		.jq-selectbox__select:active{
			-webkit-box-shadow: none;
			        box-shadow: none;
		    background: -moz-linear-gradient(top,  #fefefe 0%, #ededed 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  #fefefe 0%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  #fefefe 0%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
		}
			.jq-selectbox .placeholder{
				color: #202021;
			}
			.jq-selectbox__trigger{
				width: 42px;
				border: none;
			}	
				.jq-selectbox__trigger-arrow{
					top: 50%;
					margin-top: -2.5px;        
					right: 16px;
					border-top-color: #181819;
				}
				.jq-selectbox:hover .jq-selectbox__trigger-arrow{
					border-top-color: #181819;
				}

		.jq-selectbox__dropdown{
			margin: 0;
			-webkit-box-shadow: none;
			        box-shadow: none;
			font: inherit;
			-webkit-border-radius: 1px;
			        border-radius: 1px;    
			border: 1px solid #2e2e2f;
			border-top: none;
		}
			.jq-selectbox li{
				padding: 7.5px 15px;
				background-color: #fff;
				color: #181819;
			}
			.jq-selectbox li.selected{
				background-color: #33a1ff;
				color: #fff;
			}
			.jq-selectbox li:hover{
				background-color: #33a1ff;
				color: #fff;
			}
		input[type="time"]{
			max-width: 100px;
			padding: 5px 5px 5px 15px;
		}
		input[type="date" i]::-webkit-inner-spin-button, 
		input[type="datetime" i]::-webkit-inner-spin-button, 
		input[type="datetime-local" i]::-webkit-inner-spin-button, 
		input[type="month" i]::-webkit-inner-spin-button, 
		input[type="time" i]::-webkit-inner-spin-button, 
		input[type="week" i]::-webkit-inner-spin-button {
			padding-top: 10px;
			margin-top: 1px;
		}
		.profile_expert_container .sorting_delta .jq-selectbox__select{
			margin-top: -7px;
		}
		.sorting_delta .jq-selectbox__select{
			padding: 6.5px 13px 6.5px 8px;
			margin-top: -8px;
			background: transparent !important;
			border: 1px solid transparent !important;
			height: auto;
			line-height: 1.2;
			font-size: 16px;
		}
		.sorting_delta .jq-selectbox.dropdown.opened .jq-selectbox__select{
			/*width: 119px !important;*/
			border-bottom: 1px solid transparent;
		}
		.sorting_delta .jq-selectbox__dropdown{
			border: 1px solid #bcbec4 !important;
			border-top: none !important;
			margin-top: -1px;
			/*width: 119px !important;*/
		}
		.sorting_delta .jq-selectbox__trigger{
			width: 10px;
		}
		.sorting_delta .jq-selectbox__trigger-arrow{
			right: 2px;
		}
		.sorting_delta .jq-selectbox.dropdown.opened .jq-selectbox__trigger-arrow{
			border-bottom: 5px solid #999;
			border-bottom-color: #181819;
			border-top: 1px solid transparent;
	        border-right: 5px solid transparent;
	        border-left: 5px solid transparent;
		}
		.sorting_delta .jq-selectbox:hover .jq-selectbox__select{
			border: 1px solid transparent !important;
		}
		.sorting_delta .jq-selectbox.dropdown.opened .jq-selectbox__select{
			background: #fff !important;
			border: 1px solid #bcbec4 !important;
			border-bottom: 1px solid transparent !important;
		}
		.sorting_delta .jq-selectbox.changed .jq-selectbox__select{
			background: transparent !important;
			border: 1px solid transparent !important;
		}
		.sorting_delta .jq-selectbox li{
			padding: 7.5px 15px 7.5px 7px;
			font-size: 16px;
		}
		.profile_expert_container .sorting_delta .jq-selectbox li{
			font-size: 13px;
		}


/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  FORMSTYLER CSS END      <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/




/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  DATEPICKER CSS START    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/
		.datepicker_box{
			position: relative;	
			max-width: 128px;
		}
		.datepicker_box.datepick_avto{
			max-width: 260px;
			margin-left: -6px;
		}
		.datepicker{
		    background: #fefefe;
		    background: -moz-linear-gradient(top, #fefefe 0%, #ededed 100%);
		    background: -webkit-linear-gradient(top, #fefefe 0%,#ededed 100%);
		    background: linear-gradient(to bottom, #fefefe 0%,#ededed 100%);
		    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#ededed',GradientType=0 );
			padding-right: 35px;
		}
		input.datepicker{
			padding: 5px 12px;
		}
		.date_icon{
			position: absolute;
			background: url(../images/icon/datepicker_icon.png) 0 0 no-repeat;
			top: 10px;
			right: 13px;
			display: inline-block;
			width: 20px;
			height: 20px;
		}
		#ui-datepicker-div{
			background-color: #FFF;
			border: 1px solid #cdced3;
			z-index: 1001 !important;
			/*top: 100% !important;*/
		}
			.ui-datepicker .ui-datepicker-prev span, 
			.ui-datepicker .ui-datepicker-next span{
				font-size: 0;
		        text-indent: -9999px;        
		        /*margin-top: -4px;*/
			}
			.ui-icon.ui-icon-circle-triangle-w{
				border-right: 5px solid #999;
		        border-bottom: 5px solid transparent;
		        border-top: 5px solid transparent;
		        border-right-color: #000;
			}
			.ui-icon.ui-icon-circle-triangle-e{
				border-left: 5px solid #999;
		        border-bottom: 5px solid transparent;
		        border-top: 5px solid transparent;
		        border-left-color: #000;
			}
			.ui-datepicker td span, 
			.ui-datepicker td a {
		        color: #0d0d0e;
		        text-align: center;
			}
			.ui-datepicker th{
				text-transform: uppercase;
			}
			.ui-state-default.ui-state-hover,
			.ui-state-default.ui-state-active{
				background-color: #bbdefb;
				-webkit-border-radius: 30%;
				        border-radius: 30%;
			}
			#datepicker2{
				background: none;
			}
			#datepicker2,
			#datepicker2 .ui-datepicker{
				width: 260px;
				padding: 0;
			}
			#datepicker2 .ui-datepicker-calendar{
				margin-top: 8px;
			}
			#datepicker2 .ui-datepicker .ui-datepicker-header{
				padding: 0;
			}
			#datepicker2 .ui-datepicker-month{
				padding-left: 32px;
				background: url(../images/icon/datepicker_icon.png) 0 0 no-repeat;
			}
			.ui-datepicker-month,
			.ui-datepicker-year{
				font-weight: 500;
				font-family: 'Roboto', sans-serif;
			}
			.ui-datepicker td span, 
			.ui-datepicker td a,
			#datepicker2 .ui-datepicker td span, 
			#datepicker2 .ui-datepicker td a{
				padding: 0.9em;
			}
			.ui-datepicker{
				width: auto;
			}
			
		.datepicker_box.date_range{
			background: #fefefe;
		    background: -moz-linear-gradient(top, #fefefe 0%, #ededed 100%);
		    background: -webkit-linear-gradient(top, #fefefe 0%,#ededed 100%);
		    background: linear-gradient(to bottom, #fefefe 0%,#ededed 100%);
		    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#ededed',GradientType=0 );
		    max-width: 219px;
		    border: 1px solid #C8CACF;
		    -webkit-border-radius: 1px;
		            border-radius: 1px;
		}
			#datepicker3,
			#datepicker4{
				display: inline-block;
				margin: 0 -1px;
				border: none;
				-webkit-border-radius: 0;
				        border-radius: 0;
				background-color: transparent !important;
			}
			#datepicker3{
				padding-right: 6px;
				border-left: 1px solid #C8CACF;
				width: 47%;
			}
			.datepicker_box.date_range:after{
				content: "-";
				position: absolute;
		        right: 52.5%;
		        font-size: 22px;
		        line-height: 42px;
		        top: 0;
			}
			#datepicker4{
				padding-left: 2px;
				padding-right: 30px;
				width: 53%;
			}
			.datepicker_box.date_range .date_icon{
				right: 9px;
			}
/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  DATEPICKER CSS END      <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/




/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  TABS CSS START    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/
			.tabs > ul{
				margin-bottom: 22px !important;
			}
			.tabs > ul > li{
				float: left;
				margin-right: 13px;
			}
			.ui-tabs .ui-tabs-nav li,
			.ui-tabs .ui-tabs-nav{
				padding: 0;
				background-color: transparent;
			}
			.ui-tabs .ui-tabs-nav li{
				margin: 0;
				margin-right: 13px;
			}
			.ui-tabs .ui-tabs-nav .ui-tabs-anchor{
				padding: 0;
			}
			.ui-tabs .ui-tabs-panel{
				padding: 0;
				margin-top: 26px;
			}


/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  TABS CSS END      <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/




/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  ARCTICMODAL CSS START    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/
				
				.arcticmodal_container_box{
					min-width: 543px;
					min-height: 341px;
					padding: 24px 30px 30px 30px;
				}
		        .arcticmodal-overlay{
		        	background-color: rgb(37, 122, 223) !important;
		        }
		        .arcticmodal-close{
		        	width: 21px;
		        	height: 21px;
		        	background: url(../images/icon/close_big.png) 50% 5px no-repeat;
		        	font-size: 0;
		        	text-indent: -9999px;
		        	right: 17px;
		        	top: 16px;
		        	-webkit-transition: none !important;
		        	   -moz-transition: none !important;
		        	    -ms-transition: none !important;
		        	     -o-transition: none !important;
		        	        transition: none !important;
		        }
		        .arcticmodal-close:hover{
		        	background-position: 50% -15px;
		        	opacity: 1;
		        }
		        .arcticmodal-close:active{
		        	background-position: 50% -35px;
		        }
				

/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  ARCTICMODAL CSS END      <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/