	/*======================>  DOCTOR IN LISTENERS START  <======================*/
		.doctor_in_listeners_box .list_fil.filter_table,
		#listeners_selects-styler .jq-selectbox__select-text,
		#listeners_selects-styler .jq-selectbox__dropdown li{
			font-size: 24px;
			line-height: 42px;
			/* margin: 0px 0 11.5px 0; */
		}
		#listeners_selects-styler .jq-selectbox__dropdown li{
			line-height: 25px;
		}
		#listeners_selects-styler .jq-selectbox__select{
			border-color: transparent;
			background: transparent;
		}
		#listeners_selects-styler.opened  .jq-selectbox__select{
			border: 1px solid #2E2E2F;
        	border-bottom: 1px solid #B0B2B7;
        	background: #FFF;
		}
		.doctor_in_listeners_box [data-developments="develop_icon"]{
			background-position: 100% 10px;
		}
		.doctor_in_listeners_box [data-developments="develop_icon"]:hover{
			background-position: 100% -20px;
		}
		.doctor_in_listeners_box [data-developments="develop_icon"]:active,
		.doctor_in_listeners_box .active[data-developments="develop_icon"]{
			background-position: 100% -50px;
		}
		.doctor_in_listeners_box .active:hover[data-developments="develop_icon"] {
			background-position: 100% -80px;
		}
		.doctor_in_listeners_box [data-developments="develop_icon"]:hover{
			background-position: 100% -20px;
		}
		.doctors_in_listeners_select .jq-selectbox__select{
			height: 32px;
			line-height: 32px;
		}

		.add_people_icon,
		.arrow_down_icon,
		.arrow_up_icon{
			width: 32px;
			height: 32px;
			display: inline-block;
			-webkit-transition: none !important;
			-moz-transition: none !important;
			-ms-transition: none !important;
			-o-transition: none !important;
			transition: none !important;
		}
		.add_people_icon{
			background: url(../images/icon/add_people_icon.png) 0 0 no-repeat;				
		}
		.arrow_down_icon{
			background: url(../images/icon/arrow_down_icon.png) 0 0 no-repeat;
		}
		.arrow_up_icon{
			background: url(../images/icon/arrow_up_icon.png) 0 0 no-repeat;
		}
		.add_people_icon:hover,
		.arrow_down_icon:hover,
		.arrow_up_icon:hover{
            background-position: 0 -56px;
        }
        .add_people_icon:active,
        .arrow_down_icon:active,
        .arrow_up_icon:active{
            background-position: 0 -116px;
        }

        .checkbox_container_icon_message{
        	position: relative;
        }
        	.checkbox_container_icon_message:before{
        		content: "";
        		position: absolute;
        		width: 14px;
        		top: -14px;
        		left: 29px;
        		height: 10px;
        		background: url(../images/icon/message_icon_gray.png) 0 0 no-repeat;
        		
        	}

	    .data_row .filter_link{
	        font-size: 11px;
	        border-bottom: 1px dotted #404143;
	        display: inline-block;
	        width: auto;
	    }
	    	.data_row .filter_link:hover{
		    	border: none;
		    	color: #0d0d0e;
		    }
	    	.data_row .filter_link:after{display: none;}
	    	.data_row th:nth-child(11) .filter_link{
	    		font-size: 13px;
				transition: none;
	    	}
	    	.doctors_in_listeners_table .data_row th:nth-child(11) .filter_link:hover{
	        	padding-bottom: 1px;
				transition: none;
	    	}
	    	.data_row th:nth-child(11) .filter_link:after{
				display: block;
				right: -30px;
	    	}
	    		.doctors_in_listeners_table .memb_table_line td{
	    			font-size: 16px;
	    			padding: 28px 0 7px 0;
	    		}

				.doctors_in_listeners_table .memb_table_line th:nth-child(1),
				.doctors_in_listeners_table .memb_table_line td:nth-child(1){
					width: 22%;
				}
				.doctors_in_listeners_table .memb_table_line th:nth-child(2),
				.doctors_in_listeners_table .memb_table_line td:nth-child(2),
				.doctors_in_listeners_table .memb_table_line th:nth-child(10),
				.doctors_in_listeners_table .memb_table_line td:nth-child(10){
					width: 3.6%;
				}
				.doctors_in_listeners_table .memb_table_line th:nth-child(3),
				.doctors_in_listeners_table .memb_table_line td:nth-child(3),
				.doctors_in_listeners_table .memb_table_line th:nth-child(4),
				.doctors_in_listeners_table .memb_table_line td:nth-child(4),
				.doctors_in_listeners_table .memb_table_line th:nth-child(5),
				.doctors_in_listeners_table .memb_table_line td:nth-child(5),
				.doctors_in_listeners_table .memb_table_line th:nth-child(6),
				.doctors_in_listeners_table .memb_table_line td:nth-child(6),
				.doctors_in_listeners_table .memb_table_line th:nth-child(7),
				.doctors_in_listeners_table .memb_table_line td:nth-child(7),
				.doctors_in_listeners_table .memb_table_line th:nth-child(8),
				.doctors_in_listeners_table .memb_table_line td:nth-child(8),
				.doctors_in_listeners_table .memb_table_line th:nth-child(9),
				.doctors_in_listeners_table .memb_table_line td:nth-child(9){
					width: 7.9%;
					padding: 0; 
				}
				.doctors_in_listeners_table .memb_table_line th:nth-child(11),
				.doctors_in_listeners_table .memb_table_line td:nth-child(11){
					width: 14%;
					padding: 0; 
				}
				.doctors_in_listeners_table .memb_table_line th:nth-child(12),
				.doctors_in_listeners_table .memb_table_line td:nth-child(12){
					width: 1.28%;
					padding: 0; 
				}

				.doctors_in_listeners_table .memb_table_line td:nth-child(7) {
				    text-align: left;
				    font-weight: 400;
				    font-size: 16px;
				    padding-right: 0;
				}
				.doctors_in_listeners_table .memb_table_line td:nth-child(11) {
				    text-align: right;
				    font-weight: 600;
				    font-size: 16.5px;
				    padding-right: 37px;
				}
					.evaluation{
	        			border-bottom: 1px dotted #404143;
					}
						.evaluation:hover{
							border: none;
							padding-bottom: 1px;
						}

				.doctors_in_listeners_table .memb_table_line .task_link_left,
				.doctors_in_listeners_table .memb_table_line .task_link_right{
					display: inline-block; 
					position: relative;
					width: 10px;
				}
				.doctors_in_listeners_table .memb_table_line .task_link_left:after,
				.doctors_in_listeners_table .memb_table_line .task_link_right:after{
					content: "";
					left: 0;
					background: url(../images/icon/doctor_in_listners_arrow.png) 0 0 no-repeat;
					width: 7px;
					height: 12px;
					display: block;
					top: 50%;
				}
				.doctors_in_listeners_table .memb_table_line .task_link_right:after{
					transform: rotate(180deg);
					right: 0;
				}

				.table_line_last_point{
					padding-right: 10px;
					vertical-align: middle;
					cursor: pointer;
				}
				.table_line_last_point:hover img:first-child,
				.table_line_last_point img:last-child,
				.tooltip4.active img:first-child{
					display: none;
				}
				.table_line_last_point:hover img:last-child,
				.tooltip4.active img:last-child{
					display: block;
				}

				.doctors_in_listeners_table .memb_table_line:hover{
					background: #dce9f8;
				}
				.doctors_in_listeners_table .memb_table_line:hover:nth-child(1){
					background: none;
					cursor: auto;
				}

				.table_container_btn{
					width: 220px;
					height: 35px;
				}
					.table_container_btn .btn_pink{
						padding: 0 10px 0 0;
						font-size: 12px;
						text-align: right;
						width: 100%;
						height: 100%;
						position: relative;
						display: inline-block;
					}

						.table_container_btn .btn_pink:before{
							position: absolute;
							content: "";
							width: 18px;
							height: 13px;
							left: 15px;
							background: url(../images/icon/message_icon_white.png) 0 0 no-repeat;
							-webkit-background-size: 100% 100%;
							background-size: 100% 100%;
						}
				
				.not_registered{
					color: #8d8d8d;
				}
				.table_not_registered{
					width: 500px;
				}
	/*======================>  DOCTOR IN LISTENERS END  <======================*/

	/*======================>  DOCTOR LISTENERS  <======================*/
		.black_list .jq-checkbox{
			background: url(../images/icon/people_icon_red.png);
			width: 20px;
		}

			.black_list:hover .jq-checkbox{
				background-position: 0 0;
			}

	/*======================>  DOCTOR LISTENERS END  <======================*/

	/*======================>  DOCTOR VIDEOLIB  <======================*/
		.redaction_box_row .redaction_span_text,
		.redaction_box_row .redaction_span_date,
		.redaction_box_row .video_recording_red{
			font-size: 13px;
			color: #bec3d3;
			margin-right: 20px;
		}
		.redaction_box_row .video_recording_red{
			color: #fc4950;
		}
		.redaction_box_row .redaction_span_date{
			position: absolute;
			right: -6px;
			display: inline-block;
		}
		.redaction_box_row .time_box{
			margin-left: 0;
		}
		.redaction_box:hover .redaction_span_text{
			color: #99d0ff;	
		}
		.redaction_box:hover .redaction_span_date{
			display: none;
		}

		.editing_form .textafield_main_box .textafield_container.textafield_container_width{
			width: 449px;
		}
.tooltip_cursor{
	cursor: pointer;
}

	/*======================>  DOCTOR VIDEOLIB END  <======================*/

